.sidebar {
  background-color: white;
  padding-top: 48px;
  padding-left: 26px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;

  @media (min-width: 1150px) {
    min-height: 1206px;
    max-width: 306px;
  }
}

.logo {
  display: flex;
  gap: 3px;

  &-txt {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.01em;
    padding-left: 5px;
  }

  &-version {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #838383;
    align-self: flex-end;
    padding-bottom: 8px;
  }
}

.navbar {
  padding-top: 50px;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &-item {
    display: flex;
    position: relative;
    min-height: 46px;
    max-width: 250px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    @media (max-width: 1050px) {
      margin: 0 auto;
    }

    &:not(:first-of-type)::after {
      position: absolute;
      top: 16px;
      left: 226px;
      width: 16px;
      height: 16px;
      content: "";
      background-image: url(../../assets/img/navbar_pic/chevron-right2.svg);
      background-repeat: no-repeat;
      background-size: contain;

      &.active {
        filter: brightness(300%);
      }
    }

    &.active {
      background: #5932EA;
      border-radius: 8px;
    }

    &.active::after {
      filter: brightness(300%);
    }

    &__descr {
      letter-spacing: -0.01em;
      color: #9197B3;

      &.active {
        color: #FFFFFF;
      }
    }
  }
}

.header-user {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: auto 0 0 0;

  &__pic {
    align-self: flex-end;
  }

  &__description {
    align-self: flex-end;
    padding-bottom: 3px;
  }

  &__name {
    letter-spacing: 0.01em;
  }

  &__position {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
  }
}

.hamburger {

  @media (min-width: 1150px) {
    display: none;
  }

  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 25px;
}

.navbar-list--off {

  @media (max-width: 1150px) {
    position: absolute;
    background: #eee;
    width: 100%;
    display: block;
    padding-top: 3em;
  }

  right: 0;
  top: -50%;
  min-height: 300px;
  transition: all 300ms;
}

.menu--on {
  top: 0;
  box-shadow: 0px 8px 20px 8px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
}

.hamburger__icon {
  padding: 3rem 1rem;
  cursor: pointer;
}

.hamburger__layer {
  display: block;
  width: 25px;
  height: 4px;
  background: black;
  position: relative;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.hamburger__layer:before,
.hamburger__layer:after {
  display: block;
  width: inherit;
  height: 4px;
  position: absolute;
  background: inherit;
  right: 0;
  content: '';
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.hamburger__layer:before {
  bottom: 120%;
}

.hamburger__layer:after {
  top: 120%;
}

.hamburger__icon--to-arrow {
  animation-name: hamburger__icon--slide;
  animation-fill-mode: forwards;
}

.hamburger__icon--to-arrow:before {
  animation-name: hamburger__icon--slide-before;
  animation-fill-mode: forwards;
}

.hamburger__icon--to-arrow:after {
  animation-name: hamburger__icon--slide-after;
  animation-fill-mode: forwards;
}

.hamburger__icon--from-arrow {
  animation-name: hamburger__icon--slide-from;
}

.hamburger__icon--from-arrow:before {
  animation-name: hamburger__icon--slide-before-from;
}

.hamburger__icon--from-arrow:after {
  animation-name: hamburger__icon--slide-after-from;
}

@keyframes hamburger__icon--slide {
  0% {}

  100% {
    transform: rotate(90deg);
  }
}

@keyframes hamburger__icon--slide-before {
  0% {}

  100% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes hamburger__icon--slide-after {
  0% {}

  100% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes hamburger__icon--slide-from {
  0% {
    transform: rotate(-180deg);
  }

  100% {}
}

@keyframes hamburger__icon--slide-before-from {
  0% {
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }

  100% {}
}

@keyframes hamburger__icon--slide-after-from {
  0% {
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }

  100% {}
}