*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  body {
    background-color: #FAFBFF;
  }

  
html {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  }