* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Kumbh Sans";

  scroll-behavior: smooth;
}

.navbar {
  position: -webkit-sticky;
  position:         sticky;
  z-index: 999;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  height: 80px;

  background-color: #131313;

  font-size: 1.2rem;
}
.navbar__container {
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;
  max-width: 1300px;
  height: 80px;
  margin: 0 auto;
  padding: 0 50px;
}
.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  list-style: none;
}
.navbar__item {
  height: 80px;
}
.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 125px;
  height: 100%;

  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
  text-decoration: none;

  color: white;
}
.navbar__links:hover {
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

  color: #9518fc;
}
.navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  padding: 0 1rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 10px 20px;

  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
  text-decoration: none;

  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: -o-linear-gradient(left, #fcb045, #fd1d1d, #833ab4);
  background:    linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

#navbar__logo {
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  cursor: pointer;
  text-decoration: none;

  background-color: #ff8177;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: -o-linear-gradient(bottom, #ff0844 0%, #ffb199 100%);
  background-image:    linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 100%;

  font-size: 2rem;

  -webkit-text-fill-color: transparent;
}

.circle {
  position: relative;
  right: 0;
  left: 0;

  width: 466px;
  height: 466px;
  margin: 0 auto;

  border-radius: 233px;
  background: black;

  -webkit-filter: blur(1px);
  -webkit-filter: drop-shadow(0 0 1px rgb(94, 94, 94));
          filter: blur(1px);
          filter: drop-shadow(0 0 1px rgb(94, 94, 94));
}
.circle::before {
  position: absolute;
  z-index: 2;

  width: 466px;
  height: 466px;

  content: "";
  -webkit-animation: rot 13s linear infinite;
          animation: rot 13s linear infinite;

  border-radius: 233px;
  background: -o-radial-gradient(bottom, 38% 40%, #000000 165%, #890019 260%);
  background:    radial-gradient(38% 40% at bottom, #000000 165%, #890019 260%);

  -webkit-filter: blur(0.5em);
          filter: blur(0.5em);
}
.circle::after {
  position: absolute;
  z-index: 1;

  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: rot2 13s linear infinite;
          animation: rot2 13s linear infinite;

  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(20%, #630012), color-stop(50%, rgba(53, 25, 25, 0.2588235294)));
  background: -o-linear-gradient(top left, #630012 20%, rgba(53, 25, 25, 0.2588235294) 50%);
  background:    linear-gradient(to bottom right, #630012 20%, rgba(53, 25, 25, 0.2588235294) 50%);

  -webkit-filter: blur(2em);
          filter: blur(2em);
  inset: -0.5em;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rot2 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes rot2 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
.animation {
  position: relative;
  top: 200px;

  width: 100%;
}

.main {
  z-index: -2;

  height: 91.5vh;

  background-color: #121212;
}
